.barra_busqueda{
    background-color:rgb(244, 244, 245);
   
    border: 1px solid black;
    padding: 2px;
    width: 100px;
    border-radius: 5px ;
   
 
}
body{
    background-color: #eac926;
    font-size: 12px;
    font-family: "Roboto";
  
}



ul{
    list-style-type: none ;
}
.burger-menu{
  list-style: none;
 color: white;
 background-color: #1259c3;
 width: 14px;
 border-radius: 5px ;
 padding: 8px;
 margin:0 auto;
}
.contenedor{
  justify-content: center;
  margin: 10px auto;
  width: 90%;
}
article{
  
  background-color: white;
  margin: 1px auto;
  text-align: left;
  display: inline-block;
  margin-bottom: 15px;
}
.caja{
 text-align: center;
}
.contenido_caja{
 text-align: left;  

 border: 5px solid #ebebeb;
 padding: 15px ;
 
 
}
footer{
  text-align: center;
 
  margin-top: 10px;

}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  }
  .product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: 20px;
    top: -15px;
    }
    .descuento {
      position: relative;
      }
  
   .precio{
        width: 30%;
display: flex;
      }
  .descuento{
    width: 70%;
    color:#39b54a ;
    display: flex;
  }